*{
  box-sizing: border-box;
}
body {
  background-color: #1f1f1f;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.titulo{
  width: 25%;
}
form{
  width: 55%
}
header input {
  padding: 8px;
  width: 200px;
  height: 100%;
}

.container{
  display: flex ;
  flex-direction: row ;
}
aside{
  width: 20%;
  margin: 0 10px 0 10px;
}
section{
  width: 80%;
  margin: 0 10px 0 10px;
}
#Section-App{
  display: flex;
  flex-direction: column;
}
#Aside-App{
  display: flex;
  flex-direction: column;
}

.categories-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  margin-top: 10px;
}

.Miau{
  color: #bbbbbb;
}

.Miau:hover{
  color: #ffffff;
  cursor: pointer;
}

.product-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-details {
  padding: 20px;
}

.product-price {
  font-size: 1.2em;
  margin-top: 10px;
}

.product-sku {
  color: #888;
  margin-top: 5px;
}

.availability {
  margin-top: 10px;
  color: #4CAF50;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}